 
{{> head }}

{{> navbar }}
<div class="row">
    <div class="col-8" style="padding:10px 10px 0 30px">
        <h1>Super Heroes</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo earum, labore praesentium, officia inventore possimus odio animi ad et ipsum quod soluta tempore. Incidunt doloribus porro voluptatibus eos, quisquam voluptates?</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/spyderman.jpeg" class="img-thumbnail">

    </div>

</div>
    
{{> footer}}

<!--  Anyeliz Rico - {{year}} -->